{% load static %}
{% load extras %}

<head>    
    <link rel="stylesheet" href="{% static 'ht/style.css' %}">
</head>
<body>
    <h1>Calendar for: {{title}}</h1>
    {% if months %}
        {% for month in months%}
            <h2>{{month.month|months}}</h2>
            <div class="out"> 
                <div class="hold">
                    {% for thing in month.offset|range %}
                    <div></div>
                    {% endfor %}
                    {% for day in month.days %}
                        {% if day.val != None and day.val != "late" %}
                            {% if kind == "bin" %}
                                <button class="cal-entry-{{day.val|bins}}">
                                    <a class="select-link">
                                        {{day.val}}
                                    </a>
                                </button>
                            {% elif kind == "num" %}
                                <button class="cal-entry-2">
                                    <a class="select-link">
                                        {{day.val}}
                                    </a>
                                </button>
                            {% else %}
                                <button class="cal-entry-{{day.val|colors}}">
                                    <a class="select-link">
                                        what
                                    </a>
                                </button>
                            {% endif %}
                        {% else %}
                            {% if day.val == "late" and kind != "all" %}
                                <button class="cal-entry-late">
                                    <a class="select-link" 
                                    href="/update/{{kind}}/{{month.month|dates:day.day}}">
                                        {{day.day}}
                                    </a>
                                </button>
                            {% elif kind != "all" %}
                                <button class="cal-entry-start">
                                    <a class="select-link" 
                                    href="/update/{{kind}}/{{month.month|dates:day.day}}">
                                        {{day.day}}
                                    </a>
                                </button>
                            {% elif day.val == "late" %}
                                <button class="cal-entry-late">
                                    {{day.day}}
                                </button>
                            {% else %}
                                <button class="cal-entry-start">
                                    {{day.day}}
                                </button>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div>you are a massive failure and no one will ever love you</div>
    {% endif%}
</body>