{% load static %}
{% load extras %}

<head>    
    <link rel="stylesheet" href="{% static 'ht/style.css' %}">
</head>
<body>
    <h1>This has been rendered</h1>
    {% if months %}
        {% for month in months%}
            <h2>{{month.month}}</h2>
            <div class="out"> 
                <div class="hold">
                    {% for thing in month.offset|range %}
                    <div></div>
                    {% endfor %}
                    {% for day in month.days %}
                    <button class="cal-entry-start">day: {{day.day}}</button>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div>you are a massive failure and no one will ever love you</div>
    {% endif%}
</body>