{% load static %}
{% load extras %}

<head>    
    <link rel="stylesheet" href="{% static 'ht/style.css' %}">
</head>
<body>
    <h1>Calendar for: {{title}}</h1>
    <h2></h2>
    {% if months %}
        {% for month in months%}
            <h2>{{month.month}}</h2>
            <div class="out"> 
                <div class="hold">
                    {% for thing in month.offset|range %}
                    <div></div>
                    {% endfor %}
                    {% for day in month.days %}
                        {% if day.val != None %}
                            {% if kind == "bin" %}
                                <button class="cal-entry-{{day.val|bins}}">
                                    {{day.val}}
                                </button>
                            {% elif kind == "num" %}
                                <button class="cal-entry-2">
                                    {{day.val}}
                                </button>
                            {% else %}
                                <button class="cal-entry-{{day.val|colors}}">
                                    what
                                </button>
                            {% endif %}
                        {% else %}
                            <button class="cal-entry-start">
                                day: {{day.day}}
                            </button>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div>you are a massive failure and no one will ever love you</div>
    {% endif%}
</body>