{% load static %}
<head>    
    <link rel="stylesheet" href="{% static 'ht/style.css' %}">
</head>
<body>
    <h1>Select a habit to view the corresponding calendar</h1>
    {% for thing in things %}
        <button class="cal-entry-start">
            <a 
                href="/calendar/{{thing.type}}/{{thing.id}}"
                class="select-link" 
            >
                {{thing.name}}
            </a>
        </button>
    {% endfor %}
    <button class="cal-entry-start">
        <a 
            href="/calendar/all"
            class="select-link"
        >
            All Habits
        </a>
    </button>
</body>