{% load static %}
{% load extras %}
<head>    
    <link rel="stylesheet" href="{% static 'ht/style.css' %}">
</head>
<body>
    <nav>
        <menu>
            <button class="cal-entry-start">
                <a 
                    href="/select"
                    class="select-link"
                >
                    Calendar Selection
                </a>
            </button>
            <button class="cal-entry-start">
                <a 
                    href="/summary/all"
                    class="select-link"
                >
                    Summmaries
                </a>
            </button>
        </menu>
    </nav>
    Just a normal summary of things. What I'd like to do is loop through the 
    habits, print the goal, and the current status.
    <div class="sums-hold">
        {% for hab in habs %}
        <div class="summary-tile">
            <h1>{{hab.name}}</h1>
            <div>Goal: {{hab.goal}}</div>
            <div>Num: {{hab.num}}</div>
            <div>Curr: {{hab.curr|doub}}</div>
            <div>Left: {{hab.left}}</div>
            <div>Days: {{hab.days}}</div>
            {% if hab.kind == "bin" %}
                {% if hab.goal_met and hab.type %}
                <div>You're on track to meet your goal!</div>
                {% elif hab.is_hopeless%}
                <div>So sorry! There isn't enough time left for you to meet your goal.</div>
                {% else %}
                <div>You need to have {{hab.needed}} successes in order to be on track to meet your goal.</div>
                {% endif %}
            {% endif %}
            <!-- {% for val in hab.vals %}
            <div>val: {{val}}</div>
            {% endfor %} -->
        </div>
    {% endfor %}
    </div>
</body>