{% load static %}
{% load extras %}
<head>    
    <link rel="stylesheet" href="{% static 'ht/style.css' %}">
</head>
<body>
    {% include "menu.html" %}
    Just a normal summary of things. What I'd like to do is loop through the 
    habits, print the goal, and the current status.
    <div class="sums-hold">
        {% for hab in habs %}
        <div class="summary-tile">
            <h1>{{hab.name}}</h1>
            <div>Goal: {{hab.goal}}</div>
            <br>
            <div>
                You are {{hab.num}} days in, and currently have a success rate of {{hab.curr|doub}}
                with {{hab.left}} days left.
            </div>
            <br>
            {% if hab.kind == "bin" %}
                {% if hab.goal_met and hab.type %}
                <div>You're on track to meet your goal!</div>
                {% elif hab.is_hopeless%}
                <div>So sorry! There isn't enough time left for you to meet your goal.</div>
                {% else %}
                <div>You need to have {{hab.needed}} successes in order to be on track to meet your goal.</div>
                {% endif %}
            {% endif %}
            <!-- {% if hab.kind == "num" %}
            {% if %}
            {%%}
            {%%}
            {% endif %} -->
        </div>
    {% endfor %}
    </div>
</body>