{% load static %}
{% load extras %}
<head>    
    <link rel="stylesheet" href="{% static 'ht/style.css' %}">
</head>
<body>
    Just a normal summary of things. What I'd like to do is loop through the 
    habits, print the goal, and the current status.
    <div class="sums-hold">
        {% for hab in habs %}
        <div class="summary-tile">
            <h1>{{hab.name}}</h1>
            <div>Goal: {{hab.goal}}</div>
            <div>Num: {{hab.num}}</div>
            <div>Curr: {{hab.curr|doub}}</div>
            <div>Left: {{hab.left}}</div>
            <div>Days: {{hab.days}}</div>
            <!-- {% for val in hab.vals %}
            <div>val: {{val}}</div>
            {% endfor %} -->
        </div>
    {% endfor %}
    </div>
</body>