{% load static %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">    
        <link rel="stylesheet" href="{% static 'ht/style.css' %}">
    </head>
    <body>
        <div>
            Welcome to the page for the thing {{dat}}
        </div>
        <form action="/submit/{{id}}/{{kind}}/{{dat}}/" method="post">
            {% csrf_token %}
            <div class="update-form">
                <div class="update-chunk">
                    <label>Date</label>
                    <input id="date" name="date" value="{{date}}" type="date"/>
                </div>
                <div class="update-chunk">
                    <label>Val</label>
                    {% if kind == "bin" %}
                        <input id="res" name="res" type="checkbox"/>
                    {% else %}
                        <input id="res" name="res" step="0.1" type="number"/>
                    {% endif %}
                </div>
                <div class="update-chunk">
                    <label>Submit</label>
                    <input type="submit"/>
                </div>
            </div>
        </form>
    </body>
</html>