* {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.out {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.hold {
    display: grid;
    grid-template-columns: repeat(7, 85px);
    margin: 0 auto;
    row-gap: 5px;
    column-gap: 5px;
}

.cal-entry-start {
    background-color: transparent;
    border: gray solid 1.5px;
    border-radius: 7.5px;
    font-size: large;
}

.cal-entry-late {
    background-color: #aaaaaa;
    border: gray solid 1.5px;
    border-radius: 7.5px;
    font-size: large;
}

.cal-entry-done {
    background-color: #B4E296;
    border: gray solid 1.5px;
    border-radius: 7.5px;
    font-size: large;
}

.cal-entry-0 {
    background-color: #FFD3E8;
    border: gray solid 1.5px;
    border-radius: 7.5px;
    font-size: large;
}

.cal-entry-1 {
    background-color: #FBD1A2;
    border: gray solid 1.5px;
    border-radius: 7.5px;
    font-size: large;
}

.cal-entry-2 {
    background-color: #B4E296;
    border: gray solid 1.5px;
    border-radius: 7.5px;
    font-size: large;
}

.select-link {
    text-decoration: none;
    color: black;
}

.update-form {
    display: flex;
    flex-direction: column;
}

.update-chunk {
    margin: 10px;
}

.hor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
}

.summary-tile{
    border: solid black 1px;
    width: 300px;
    height: 200px;
    margin: 7.5px;
}

.sums-hold{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}